<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/index.css">
    <link rel="stylesheet" href="../../styles/general.css">
    <title>Document</title>
</head>
<body class="<%= locals.session && session.color == '#ff0000' ? 'rojo' : locals.session && session.color == '#00ff00' ? 'verde' :  locals.session && session.color == '#0000ff' ? 'azul' : locals.session && session.color == '#770077' ? 'morado' : null%>" >
    <div class="tarjetita">
        <div class="div-form">
            <span class="mensaje"><%= locals.session && session.nombre ? session.nombre : null%> gracias por visitarnos</span>
        </div>
    
        <a class="boton-enviar boton-gracias" href="/">Volver al inicio</a>
    </div>

</body>
</html>